// Theme's Styles
@import("/Volumes/MacDocument/myProjects/sea-notes/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("/Volumes/MacDocument/myProjects/sea-notes/docs/.vuepress/styles/index.styl")